@import url('reset.css');
@import url('fonts.css');

/*  Global                    */
/* ========================== */

body {
  font-family: 'Lora', sans-serif;

  background-color: rgb(236, 236, 233);
  color: #3e3e3e;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', monospace;
}
h1 {
  font-size: 2.7em;
}

header {
  height: 10vh;
}

main {
  min-height: 80vh;
}

/*  Hero Section              */
/* ========================== */

.hero {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1em;
}

.hero-left, .hero-right {
  align-self: center;
}

/* Icon sizing & positioning */
.hero-left {
  font-size: 1.5rem;
  text-align: center;
}

.hero-right {
  padding-right: 3em;
}

.hero-right h1 {
  font-weight: normal;

  /* Minor positioning adjustments */
  margin-top: .5em;
  margin-bottom: .5em;
}

.hero-right .highlight {
  font-weight: bold;
}
/* Nav Bar                    */
/* ========================== */

nav ul {
  display: flex;
}

nav a {
  /* Use margin to space out links to keep underline with text only */
  /* padding: 2em; */
  margin-right: 3em;
  border-bottom: 1px dashed;
}

/* Blog Cards                 */
/* ========================== */

.blog {
  margin: auto;
  padding: 1em;

  width: 70vw;

  min-height: 90vh;
}

.blog section {
  margin-bottom: 2em;
}

.blog h3 {
  margin-bottom: 2em;
  border-bottom: 1px solid black;
}

.blog-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
  align-items: end;
}

/* Make content stretch horizontally */
.short-post-grid .blog-item {
  display: flex;
}

.short-post-grid .blog-item img {
  margin-right: 1em;
}

/* Card */
.blog-item {
  padding: .7em;

  background-color: white;
  border: 1px solid rgb(216, 216, 216);
}

.blurb-item {
  padding: .7em;

  background-color: white;
  border: 1px solid rgb(216, 216, 216);

  display: flex;
}

.blog-item img {
  margin-bottom: .7em;
}

.blog-card-grid img {
  object-fit: contain;
  max-width: 100%;
}

/* "Read More" URLs */
.blog-item a {
  font-weight: bold;
  box-shadow: inset 0 -7px 0 0 rgba(130, 206, 228, 0.3);
}

/* This stacks the background-color and box-shadow on top of one another when hovering - overall color isn't uniform */
/* 
.blog-item a:hover {
  background-color: rgba(19,149,186,.15);
}
*/

/* BOX-SHADOW: inset | offset-x | offset-y | blur-radius | spread-radius | color */
.blog-item a:hover {
  box-shadow: inset 5px -20px 0 0 rgba(130, 206, 228, 0.3);
}

/* Positioning Adjustments */
.blog h1, .blog h2 {
  margin-bottom: 1em;
  text-align: center;
}


/* Blog Post                  */
/* ========================== */

.blog-post {
  margin: 10px auto 0;
  padding: 1em;

  width: 50vw;

  background-color: white;
}

/* Pull Quote Styling */

blockquote {
  padding: 1em;

  position: relative;
}

blockquote q {
  padding-left: 2em;

  font-family: 'Lora', serif;
  font-style: italic;

  display: block;
  quotes: "“" "”";
}

blockquote q::before {
  content: open-quote;

  color: black;
  
  font-family: Georgia, serif;
  font-size: 6em;

  position: absolute;
  left: 0;
  top: 0;
}

.blog-post .bold-italic {
  font-weight: bold;
  font-style: italic;
}

.blog-post .article-header {
  /* Make header fill space of padding from parent container */
  margin: -1em -1em 1em -1em;
  padding: 1.5em;

  background-color: rgb(17, 17, 17);
  color: white;
}

.blog-post .author-date {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.blog-post .author-date p {
  margin: 0;
}

.blog-post h1 {
  margin: 0;
  margin-bottom: .4em;

  font-weight: bold;
}

.blog-post h2 {
  margin-bottom: .5em;

  border-bottom: 1px solid black;
}

.blog-post p {
  font-family: 'Lora', serif;
  line-height: 1.4em;
}

.blog-post img {
  display: block;

  /* Make sure it scales with parent container */
  max-width: 100%;
}

/* Image Positioning */
.blog-img-1 {
  float: right;
  margin: 0 0 0 .5em;
}

.blog-img-2 {
  float: left;

  /* The following two functions (polygon & url) do roughly the same thing for this image. The polygon doesn't shape all the way to the bottom; text goes back to rectangular shape near the bottom right vertex of image. Tried to tweak with CSS Shapes Editor (Chrome Extension) but didn't get it to work  */

  /* shape-outside: polygon(80% 0, 100% 100%, 0 100%); */
  shape-outside: url('/img/blog/all-girls-team.png');

  shape-margin: .5em;
}

/* Gallery                    */
/* ========================== */

/* .photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
} */

.gallery {
  padding: 0 1em 0 1em;
}

.photo-grid ul {
  padding: 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  grid-auto-flow: dense;
}

.photo-grid img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

/* Contact Page               */
/* ========================== */

.contact {
  width: 65vw;
  margin: auto;

  /* Use grid to align the top of section elements */
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 3fr;
}

.contact section {
  padding: 1em;
}

/* Use grid to align the top of section elements */
.contact section:nth-child(1) {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.contact section:nth-child(2) {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.contact a {
  padding: .2em;

  font-weight: bold;

  color: #70CAD1;
}

/* Text line spacing */
.contact h1 {
  margin-bottom: .2em;
}

/* Form Styling */
.contact form {
  display: flex;
  flex-direction: column;
}

.contact label {
  font-weight: bold;
  margin-bottom: .3em;
}

.contact input:focus, textarea:focus {
  outline: 0;
}

.contact input, textarea {
  margin-bottom: 1em;
}

.contact input[type="submit"] {
  align-self: flex-start;
}

.contact input[type="text"], textarea {
  padding: .5em;

  font-family: 'Lora', serif;
  font-size: 1.1em;

  border: 1px solid white;
  border-radius: 15px;

  background-color: rgb(173, 215, 229, 0.5);
}

.contact .contact-buttons {
  display: flex;
}

.contact input[type="submit"] {
  margin-right: 1em;
}

.contact input[type="submit"], input[type="reset"] {
  padding: .5em 1em;

  font-family: inherit;
  font-weight: bold;

  border: 1px solid white;
  border-radius: 20px;

  background-color: rgb(173, 215, 229, 0.5);
  color: inherit;
}

/* Footer                     */
/* ========================== */
footer {
  height: 10vh;

  background-color: rgb(17, 17, 17, 0.8);
  color: white;

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .social-media {
  padding: .5em;
}
footer a {
  text-decoration: none;
  color: inherit;
}

footer p {
  margin: .5em 0 0 0;
}

/* MEDIA QUERIES */
/* Code by Jen Simmons */
/* Photos too small, need to adapt */
@media (min-width: 360px) {
  .photo-grid ul {
    grid-template-columns: repeat(3, 1fr);  
    grid-auto-rows: 33vw;
  }
}
@media (min-width: 500px) {
  .photo-grid ul {
    grid-template-columns: repeat(4, 1fr);  
    grid-auto-rows: 25vw;  
  }
}
@media (min-width: 700px) {
  .photo-grid ul {
    grid-template-columns: repeat(5, 1fr);  
    grid-auto-rows: 20vw;  
  }
}
@media (min-width: 900px) {
  .photo-grid ul {
    grid-template-columns: repeat(7, 1fr);  
    grid-auto-rows: 15vw;  

  }
}
@media (min-width: 1100px) {
  .photo-grid ul {
    grid-template-columns: repeat(9, 1fr);  
    grid-auto-rows: 11vw;  
  }
}